<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Symfony</title>

    <link rel="stylesheet" href="{{ asset('style.css') }}">

    {# je fais un link  je relie la feuille (stylesheet) et j'utilise, avec le href, la fonction Twig "Asset" à laquelle
    j'affecte le fichier requis tel qu'une image, un dossier, un flaticone ou autre dossier#}

</head>