{% include 'header.html.twig' %}

<body>

{% for article in articles | slice(2,2)%}

    <div>  {{ article.title }} </div>
    <img src="{{ article.image }}" alt="" />

{% endfor %}

</body>
{% include 'footer.html.twig' %}